<!DOCTYPE html>
<html>
<head>
  <title>Angular-rating-face</title>
  <link rel="stylesheet" type="text/css" href="bower_components/Angular-rating-face/dist/css/style.css">
</head>
<body ng-app="MainApp" ng-controller="MainController">

  <center>
    <rating-face ng-model="rating_value" path="bower_components/Angular-rating-face/dist/"></rating-face>
    <button ng-click="getValue()">Click</button>
  </center>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="bower_components/Angular-rating-face/dist/js/angular-rating-face.js"></script>
  <script src="controller.main.js"></script>
</body>
</html>
